body {
  margin: 0;
  font-family: "PTSans";
}

::selection {
  background-color: $accent;
  color: $black;
}

.align-center {
  text-align: center;
}

.container {
  padding: 15px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#hero-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $lightest-blue;
  color: $black;

  #hero-wrapper {
    text-align: center;
  }

  #hero-header {
    text-align: center;
    white-space: break-spaces;
    word-break: break-word;
  }
}

#about-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: $medium-blue;
  color: $white;

  .section-header-container {
    flex: 0 0 100%;
  }
}

#projects-container {
  background: $white;
}

#contact-container {
  background-color: $light-blue;

  #contact-wrapper {
    padding: 15px 0;
  }
}

.next-container {
  .next-button {
    background: transparent;
    border: none;

    img {
      width: 30px;
      height: 30px;
      transform: rotate(90deg);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
